#footer {
  height: 30px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
}
#footer {
  color: #eee;
  background-color: #333;
  & a{
    color: #fff;
    padding: 4px 4px;
  }
}
#connect a{
  float:right;
}
#links a{
  float:left;
}